FLASK_DEBUG=True
FRONTEND_URL=http://localhost:3000

DATABASE_URL=sqlite:///flare.db

JWT_SECRET_KEY=~~
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=60

ADMIN_EMAIL=admin@flare.com
ADMIN_PASSWORD=1234
ADMIN_NAME=관리자

GOOGLE_CLIENT_ID=~~
GOOGLE_CLIENT_SECRET=~~
GOOGLE_REDIRECT_URI=http://localhost:5001/api/auth/oauth/google/callback

NAVER_CLIENT_ID=~~
NAVER_CLIENT_SECRET=~~
NAVER_REDIRECT_URI=http://localhost:5001/api/auth/oauth/naver/callback

KAKAO_CLIENT_ID=~~
KAKAO_CLIENT_SECRET=~~
KAKAO_REDIRECT_URI=http://localhost:5001/api/auth/oauth/kakao/callback

ITS_API_KEY=~~
ITS_CCTV_API_URL=https://openapi.its.go.kr:9443/cctvInfo