FLASK_ENV=
SECRET_KEY=
DATABASE_URL=

# 카카오 API키
KAKAO_MAP_JS_KEY=
KAKAO_REST_API_KEY=

# ITS CCTV API키
ITS_API_KEY=

# ITS CCTV 연결 주소
ITS_CCTV_BASE_URL=

# LLM 키
LLM_API_KEY=
LLM_MODEL=

# AI 모델
YOLO_MODEL_PATH=

# GOOGLE API 키 ( 프론트 )
GOOGLE_MAPS_API_KEY=

# GOOGLE API 키 ( 백엔드 )
GOOGLE_ROUTES_API_KEY=

# Weater Api 키
WEATHER_API_KEY=
DEFAULT_WEATHER_CITY=